aot
dist
node_modules
target
typings
**/*.js
**/*.js.map


!mongoscript/**/*.js
!bs-config.js
!karma-test-shim.js
!karma.conf.js
!protractor.config.js
!rollup.js
!sytemjs.config.extras.js
!sytemjs.config.js
!wallaby.js
